doctype html
html(lang='en')
  head
    title HackerNews
  body
    h1 Hackernews-demo
    #container.col
      p We are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
